 _ _                 _         ___  _
| | | ___  _ _ _   _| |_ ___  | . \| | ___  _ _
|   |/ . \| | | |   | | / . \ |  _/| |<_> || | |
|_|_|\___/|__/_/    |_| \___/ |_|  |_|<___|`_. |             /""\      ,
                                           <___'            <>^  L____/|
 _ _            _                     _                      `) /`   , /
| | | ___  ___ | |__._ _ _  ___  ___ | |__                    \ `---' /
|   |/ ._>/ | '| / /| ' ' |/ ._>/ | '| / /                     `'";\)`
|_|_|\___.\_|_.|_\_\|_|_|_|\___.\_|_.|_\_\                       _/_Y

                                                Written by Kimin Dice Games

This is a great quick game for people of all ages.  It has a great deal of luck like any dice game but it is fun and engages all players.

The game is compact and easy to bring with you when you travel. It is a great way to reinforce additional math skills.

HeckMeck is a luck of the dice and domino game. Players roll the dice to collect the most worms on the dominoes.

Ages 7+
15 / 20 min game play
2 / 7 players
Group game
Shown is Deluxe – Original is out of print, check eBay for previous versions
Overview
HeckMeck contains 16 dominoes numbered 21 to 34 with varying amounts of worms on them, and 8 dice numbers 1-5 and a picture of a worm on the sixth side.

The winner is the player who collected the most worms on their dominoes at the end of the game.

 ___        _     _ _
/ __> ___ _| |_  | | | ___
\__ \/ ._> | |   | ' || . \
<___/\___. |_|   `___'|  _/
                      |_|

Set up by placing all dominoes number/worm side up, in the center of the table, putting them in line and value order from smallest to largest.

Youngest player starts the game, and all  8 dice are handed to them.

 ___                     ___  _
/  _>  ___ ._ _ _  ___  | . \| | ___  _ _
| <_/\<_> || ' ' |/ ._> |  _/| |<_> || | |
`____/<___||_|_|_|\___. |_|  |_|<___|`_. |
                                     <___'
Game play begins by rolling all dice. You may continue to roll the dice until 1) the number on your dice adds up to a number on a playable domino or 2) when that
 player goes bust.

 When choosing dice to keep, be sure to look at the remaining tiles in the center and the number on each.

Those are your options along with the top of the stack your opponents have collected.  At the end of each turn, players will either add up the numbered dice
(each being face value and worms are each worth 5 points, same as the dice with a 5 on it.)

Only the top one of the opponent stack is available and up for grabs in their collection. You cannot reuse a value dice that you have already put aside and
kept nor can you switch it out.

Take out all the dice with the same value showing in that roll.  For example, if you roll a Worm, two 5s, three 4s, a 2 and a 1 your choice would be to put
either the worm (equaling 5 points, OR the two 5s (equaling 10 points) OR the three 4s (equaling 12 points) OR the one 2 (equaling 2 points) or the one 1
(equaling 1 point). Once you choose which same value dice to put aside and keep, you now re-roll the unused dice.

Once you keep a dice value, that value is not available during your rolling again for this round.  If you were to have chosen the 5s in the above example,
even if you rolled another 5, you cannot add that one to your total.  The values you have to pick from would be, all the worm dice, all the 4s, all the 3s,
all the 2s, or all the 1s in your next roll.

You may only keep one set of numbers after each time you roll and then roll the remaining dice for the next set of numbers.

Play continues like this until you run out of options of values and roll only values you have kept during previous rolls (the player would then BUST, read below)
or you reach your goal amount and take the domino of the same value and place it in a pile in front of you.

You must have at least one WORM in your saved dice to obtain a domino. You can stop rolling at any time and add up dice, as long as you have at least one worm
dice that you have kept. Then pick up the domino with that equal value.

 ___        _             ___             _
/  _>  ___ <_>._ _  ___  | . > _ _  ___ _| |_
| <_/\/ . \| || ' |/ . | | . \| | |<_-<  | |
`____/\___/|_||_|_|\_. | |___/`___|/__/  |_|
                   <___'
If the player rolls and their dice does not add up to an available domino or if they do not have at least one worm in their saved dice, they BUST.
When a player does BUST, from the center tiles, the highest value domino is now turned over and placed upside down. That domino is now out of play and cannot
be used for the rest of the game.

Stealing From Another Player
As you collect the dominoes they are to be placed faced up and stacked in front of you. You may steal the top domino from your opponent’s pile if you have
rolled the same number as is on the top of their pile.You may not pick up a lower number of another player. The number to steal must be exact.

Not Having the Exact Number
If you’ve rolled your dice and decide to stop or run out of dice to roll and have not gone bust and the number is in the middle of two numbers of
available dominoes in the center but not exact, you may pick up the lower number and add it to your pile.

For example if in the center the tiles with a 30 and 25 are available and your dice show two worms (5 points each totalling 10 points), a 5 (5 points),
and three 4s (4 points each totally 12 points), combined equal 27 points. You may choose to stop rolling and pick up the domino with the value of 25.

Game play continues and each player tries to obtain the remaining available tiles.

 _ _ _  _            _               _    _          ___
| | | |<_>._ _ ._ _ <_>._ _  ___   _| |_ | |_  ___  /  _>  ___ ._ _ _  ___
| | | || || ' || ' || || ' |/ . |   | |  | . |/ ._> | <_/\<_> || ' ' |/ ._>
|__/_/ |_||_|_||_|_||_||_|_|\_. |   |_|  |_|_|\___. `____/<___||_|_|_|\___.
                            <___'
When there are no more available tiles in the center because they have either been picked up by players or turned over as players BUSTED it is now
time to add up the scores.  Each player adds up the worms on the tiles and the person with the most worms wins the game. Do not add up the values on the tiles,
add the number of worms pictured.